<div class="container">
<center>
<br>
<h1>本当に退会しますか？</h1>
<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to root_path, class:'btn btn-outline-primary' do %>
<i class="fas fa-birthday-cake"></i>退会しない
<% end %>



<%= link_to resign_path, method: :patch, class:'btn btn-outline-danger' do %>
<i class="fas fa-heart-broken"></i>退会する
<% end %>

</center>
</div>
<br>