<center>

<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

アプリケーションを完成させよう２



<div>
  <p>名：<%= @customer.first_name %></p>
  <p>名：<%= @customer.last_name %></p>
</div>


</center>