
<div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333; background-color: #fff9ff;">


<table  cellpadding="10" >
<tr>
<td><a href="" title="ケーキ" class="text-secondary"><i class="fas fa-birthday-cake"></i>Cake</a></td>
<td><a href="" title="プリン" class="text-secondary"><i class="fas fa-stroopwafel"></i>Pudding</a></td>
<td><a href="" title="焼き菓子" class="text-secondary"><i class="fas fa-cookie-bite"></i>Baked sweets</a></td>
<td><a href="" title="キャンディ" class="text-secondary"><i class="fas fa-candy-cane"></i>Candy</a></td>
</tr>
</table>



</div>




