<div class="container">
  <div class="row justify-content-center mt-3">
    <h4 class="border-bottom border-gray">注文情報確認</h4>
  </div>
  
  <div class="row">
    <div class="col">
      <table>
          
      </table>
    </div>
    <div class="col">
      <table>
          
      </table>
    </div>
  </div>

  <div class="row">
    <h4>支払方法</h4>
  </div>
  <div class="row">
    <h4>お届け先</h4>
  </div>
  
  <div class="row justify-content-center m-3">
    <%= link_to "注文を確定する", orders_completed_path, class: "btn btn-success" %>
  </div>

</div>