<div class="container">
  <div class="row justify-content-center mt-3">
    <h4 class="border-bottom border-gray">注文履歴詳細</h4>
  </div>
  
  <div class="row">
    <div class="col-8">
      注文情報
    </div>
    
    <div class="col-4">
      請求情報
    </div>
  </div>
  
  <div class="row">
    注文内容
  </div>
</div>