<footer class=" text-white pt-5 pb-4" style="background-color: #fde8e9;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.5794396391966!2d135.497346575798!3d34.66532258511015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e780b177686d%3A0xaa3b5e1384a05335!2zRE1NIFdFQkNBTVAg6Zuj5rOi5b6h5aCC562L44K744Oz44K_44O844OT44Or5qCh!5e0!3m2!1sja!2sjp!4v1684405756326!5m2!1sja!2sjp" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="col-md-8">
        <%= image_tag('logo.png') %>
          <% if admin_signed_in? %> <!--adminログイン状態の際に、表示したいheaderのメニューを記載-->
            <%= link_to admin_homes_top_path, class:'btn btn-outline-danger' do %>
            管理者ログイン中
            <% end %>
          <% elsif customer_signed_in? %> <!--userログイン状態の際に、表示したいheaderのメニューを記載-->
            <%= link_to customer_path(current_customer), class:'btn btn-outline-secondary' do %>
              ようこそ、<%= current_customer.first_name %>さん！
            <% end %>
          <% else %><!--adminでもuserでもログインしていない時に表示するheaderのメニューを記載-->
          <% end %>

        <h6 class="text-secondary mt-2 mb-3">~長野から全国へ素敵なひと時を~</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a href="" title="ADRESS" class="text-secondary">ADDRESS:長野県DMM市WEBCAMP町1-2-3</a>
          </li>
          <li>
            <a href="" title="TEL" class="text-secondary">TEL:072-XXX-XXXX</a>
          </li>
          <li>
            <a href="" title="FAX" class="text-secondary">FAX:072-XXX-XXXX</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>